@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
    font-family: "Arimo", sans-serif;
}

body{
    margin: 0px;
}
.sidebar{
    height: 100vh;
    width: 17%;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    /* display */
    display: flex;
    align-items: center;
    justify-content: space-around
;
    flex-direction: column;
    gap: 10px;
}

.sidebar-1{
    margin-top: -50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.sidebar-2{
    margin-bottom: -50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/* SIDEBAR HEADER */
.side-bar-header{
    margin-top: 10px;
    width: 90%;
    height: 5%;

    /* display */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-bar-header p{
    font-size: 20px;
    margin: 0px;
    font-weight: 1000;
}

.side-bar-header img{
    width: 20px;
}

/* SIDEBAR BODY */
.side-bar-body{
    width: 84%;

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.side-bar-body-1{
    width: 100%;
}

.side-bar-body-2{
    width: 100%;
}

.side-bar-body-header{
    width: 100%;

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar-body-header p{
    font-size: 13px;
    color: #727272;
}

.side-bar-body-header img{
    width: 20px;
}
.side-bar-body-contents{
    width: 100%;

    /* display */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


.side-bar-body-content{
    width: 100%;

    /* display */
    display: flex;
    align-items: center;
    gap: 7px;
}

.side-bar-body-content p{
  font-size: 16px;
  font-weight: 400;
  color: #727272;  
}

.side-bar-body-content img{
    width: 20px;
    margin-bottom: 1px;
}

.side-bar-footer{
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    width: 90%;

    /* display */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.side-bar-footer-profile{
    padding: 10px;
}
.side-bar-footer img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}


.side-bar-footer-content{
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.side-bar-footer-content p{
    margin: 0;
}

.side-bar-footer-content-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-bar-footer-content-name img{ 
  width: 20px;
  margin: 0px;
  height: 100%;
}


